on: [push]
jobs:
  mail_on_push:
    runs-on: ubuntu-latest
    steps:
    - name: Github Email
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 587
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: "Email pushed"
        body: "Email pushed by Kerdo Vähk ..."
        to: jüri.vaitmaa@tthk.ee
        from: "Github Actions"
